@page "/"
@using System.Diagnostics
@using System.Globalization
@using SitkoClient.Enums
@using SortDirection = MudBlazor.SortDirection
@rendermode InteractiveServer
@inject ITodoService _service


<div>

    <MudItem>
        <MudGrid>
            <MudCardContent Class="object-center">
                <TodoListAdd OnAfterItemAdded="OnAfterAddedTaskItem"/>
                <MudCardActions Class="align-center justify-center">
                    <MudToggleGroup T="LastActiveButton" SelectionMode="SelectionMode.SingleSelection"
                                    @bind-Value="activeButton" Color="Color.Primary" CheckMark FixedContent>
                        <MudToggleItem Value="@(LastActiveButton.AllList)">
                            <MudButton @onclick="AllList">Все</MudButton>
                        </MudToggleItem>
                        <MudToggleItem Value="LastActiveButton.ListCompleted">
                            <MudButton @onclick="ListCompleted">Выполненые</MudButton>
                        </MudToggleItem>
                        <MudToggleItem Value="@(LastActiveButton.ListActive)">
                            <MudButton @onclick="ListActive">Активные</MudButton>
                        </MudToggleItem>
                    </MudToggleGroup>
                </MudCardActions>
            </MudCardContent>
        </MudGrid>

        <MudStack Class="align-center justify-center" Row="true">
            <MudText Typo="Typo.h4" Class="">Список задач</MudText>
            <MudMenu Icon="@Icons.Material.Outlined.FilterAlt" AriaLabel="Open user menu">
                <MudMenuItem>
                    <MudIconButton Icon="@Icons.Material.Outlined.TextFormat"
                                   OnClick="@(async () => await Sort(FilterActive.SortAlphabetically))"/>
                    <MudText Inline="true">По алфавиту</MudText>
                </MudMenuItem>
                <MudMenuItem>
                    <MudIconButton Icon="@Icons.Material.Outlined.CalendarMonth"
                                   OnClick="@(async () => await Sort(FilterActive.SortCreationDate))"/>
                    <MudText Inline="true">По дате открытия</MudText>
                </MudMenuItem>
                <MudMenuItem>
                    <MudIconButton Icon="@Icons.Material.Outlined.CalendarToday"
                                   OnClick="@(async () => await Sort(FilterActive.SortExecutionDate))">
                    </MudIconButton>
                    <MudText Inline="true">По дате закрытия</MudText>
                </MudMenuItem>
            </MudMenu>
        </MudStack>
        <MudStack Class="align-center justify-start" Row="true">
            <MudToggleIconButton @bind-Toggled="sortDirectionToggled"
                                 Icon="@Icons.Material.Filled.ExpandMore"
                                 ToggledIcon="@Icons.Material.Filled.ExpandLess"/>
            <MudText Inline="true">@filterActive</MudText>
        </MudStack>
    </MudItem>

    <div>
        <TodoList TodoItems="TodoItemsFiltered"
                  TodoListService="_service"
                  OnAfterItemChangeInStatus="OnAfterItemChangeInStatus"/>
    </div>
</div>

@code {

    public List<TodoItemGrpc> TodoItemsFiltered { get; set; } = new();
    private LastActiveButton activeButton;
    private List<TodoItemGrpc> todoItems = new();
    private string filterActive = "По алфавиту";
    private bool sortDirectionToggled;
    private SortDirection sortDirection;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await GetAllTodos();
    }

    private async Task GetAllTodos()
    {
        todoItems = await _service.TodoListAllAsync();
        PageActive();
    }

    private void OnAfterItemChangeInStatus()
    {
        PageActive();
    }

    private void OnAfterAddedTaskItem(TodoItemGrpc val)
    {
        todoItems.Add(val);
        PageActive();
    }

    private void AllList()
    {
        TodoItemsFiltered = todoItems;
        activeButton = LastActiveButton.AllList;
    }

    private void ListCompleted()
    {
        TodoItemsFiltered =  todoItems.Where(_ => _.Completed).ToList();
        activeButton = LastActiveButton.ListCompleted;
    }

    private void ListActive()
    {
        TodoItemsFiltered = todoItems.Where(_ => !_.Completed).ToList();
        activeButton = LastActiveButton.ListActive;
    }

    private async Task Sort(FilterActive filterActive)
    {
        sortDirection = 
            sortDirection == SortDirection.Ascending
            ? SortDirection.Descending : SortDirection.Ascending;
         sortDirectionToggled = sortDirection == SortDirection.Ascending;
        switch (filterActive)
        {
            case FilterActive.SortAlphabetically:
                SortAlphabetically();
                break;
            case FilterActive.SortExecutionDate:
                SortExecutionDate();
                break;
            case FilterActive.SortCreationDate:
                SortCreationDate();
                break;
        }
        PageActive();
    }

    private void SortAlphabetically()
    {
        switch (sortDirection)
        {
            case SortDirection.Ascending:
                todoItems = todoItems
                    .OrderBy(x => x.Name).ToList();
                break;
            case SortDirection.Descending:
                todoItems = todoItems.OrderByDescending(x => x.Name).ToList();
                break;
        }
        filterActive = "По алфавиту";
    }

    private void SortExecutionDate()
    {
        switch (sortDirection)
        {
            case SortDirection.Ascending:
                todoItems = todoItems
                    .OrderBy(x => x.ExecutionDate).ToList();
                break;
            case SortDirection.Descending:
                todoItems = todoItems.OrderByDescending(x => x.ExecutionDate).ToList();
                break;
        }
        filterActive = "По дате закрытия";
    }

    private void SortCreationDate()
    {
        switch (sortDirection)
        {
            case SortDirection.Ascending:
                todoItems = todoItems
                    .OrderBy(x => x.CreationDate).ToList();
                break;
            case SortDirection.Descending:
                todoItems = todoItems.OrderByDescending(x => x.CreationDate).ToList();
                break;
        }
        filterActive = "По дате открытия";
    }

    private void PageActive()
    {
        switch (activeButton)
        {
            case LastActiveButton.AllList:
                AllList();
                break;
            case LastActiveButton.ListCompleted:
                ListCompleted();
                break;
            case LastActiveButton.ListActive:
                ListActive();
                break;
        }
    }
}